<header class="app-header">
    <div class="container">
      <div class="logo">
        <a routerLink="/">
          <h1>AutoBook</h1>
        </a>
      </div>
      <nav class="main-nav">
        <ng-container *ngIf="authService.currentUserValue">
          <a routerLink="/conversations" routerLinkActive="active">Conversations</a>
          <a routerLink="/collections" routerLinkActive="active">Collections</a>
          <div class="user-dropdown">
            <button class="dropdown-toggle">
              {{ authService.currentUserValue.username }}
              <!-- <i class="fa fa-caret-down"></i> -->
            </button>
            <div class="dropdown-menu">
              <a routerLink="/profile">Profile</a>
              <a href="javascript:void(0)" (click)="logout()">Logout</a>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!authService.currentUserValue">
          <a routerLink="/auth/login">Login</a>
          <a routerLink="/auth/register">Register</a>
        </ng-container>
      </nav>
    </div>
  </header>